body {
  font-family: Arial;
  background: #f0f0f0;
  padding: 20px;
}

.container {
  background: #fff;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
}

input, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: #007BFF;
  color: white;
  border: none;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
